In [3]:
import pandas as pd

# Change the path to your file
df = pd.read_csv("clean_data_after_eda.csv")   # e.g., "C:/Users/You/Downloads/my_file.csv"
df.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,var_6m_price_off_peak_var,var_6m_price_peak_var,var_6m_price_mid_peak_var,var_6m_price_off_peak_fix,var_6m_price_peak_fix,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.000131,4.100838e-05,9.084737e-04,2.086294,99.530517,44.235794,2.086425,9.953056e+01,4.423670e+01,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000003,1.217891e-03,0.000000e+00,0.009482,0.000000,0.000000,0.009485,1.217891e-03,0.000000e+00,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000004,9.450150e-08,0.000000e+00,0.000000,0.000000,0.000000,0.000004,9.450150e-08,0.000000e+00,0
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.000003,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000003,0.000000e+00,0.000000e+00,0
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,0.000011,2.896760e-06,4.860000e-10,0.000000,0.000000,0.000000,0.000011,2.896760e-06,4.860000e-10,0

In [4]:
# === Rename columns in client_df ===
df.rename(columns={
    "id": "client_id",
    "activity_new": "activity_type",
    "channel_sales": "sales_channel_code",
    "cons_12m": "electricityconsumption_12m",
    "cons_gas_12m": "gas_consumption_12m",
    "cons_last_month": "electricityconsumption_last_month",
    "date_activ": "contract_start_date",
    "date_end": "contract_end_date",
    "date_modif_prod": "last_product_modification_date",
    "date_renewal": "next_renewal_date",
    "forecast_cons_12m": "electricitypredicted_consumption_12m",
    "forecast_cons_year": "electricitypredicted_consumption_calenderyear",
    "forecast_discount_energy": "predicted_value_current_discount",
    "forecast_meter_rent_12m": "predicted_meter_rental_12m",
    "forecast_price_energy_off_peak": "predicted_energy_price_1stperiod",
    "forecast_price_energy_peak": "predicted_energy_price_2ndperiod",
    "forecast_price_pow_off_peak": "predicted_power_price_1stperiod",
    "has_gas": "clienthas_gas_connection",
    "imp_cons": "billed_consumption",
    "margin_gross_pow_ele": "gross_margin_powersubscription",
    "margin_net_pow_ele": "net_margin_powersubscription",
    "nb_prod_act": "active_products_count",
    "net_margin": "total_net_margin",
    "num_years_antig": "years_as_customer",
    "origin_up": "electricity_campaign_code_subscribed",
    "pow_max": "subscribed_power",
    "churn": "is_churned"
}, inplace=True)

In [5]:
print("data shape:", df.shape)

data shape: (14606, 44)

In [6]:
print("\nData Types:\n", df.dtypes)

Data Types:
 client_id                                         object
sales_channel_code                                object
electricityconsumption_12m                         int64
gas_consumption_12m                                int64
electricityconsumption_last_month                  int64
contract_start_date                               object
contract_end_date                                 object
last_product_modification_date                    object
next_renewal_date                                 object
electricitypredicted_consumption_12m             float64
electricitypredicted_consumption_calenderyear      int64
predicted_value_current_discount                 float64
predicted_meter_rental_12m                       float64
predicted_energy_price_1stperiod                 float64
predicted_energy_price_2ndperiod                 float64
predicted_power_price_1stperiod                  float64
clienthas_gas_connection                          object
billed_consumption                               float64
gross_margin_powersubscription                   float64
net_margin_powersubscription                     float64
active_products_count                              int64
total_net_margin                                 float64
years_as_customer                                  int64
electricity_campaign_code_subscribed              object
subscribed_power                                 float64
var_year_price_off_peak_var                      float64
var_year_price_peak_var                          float64
var_year_price_mid_peak_var                      float64
var_year_price_off_peak_fix                      float64
var_year_price_peak_fix                          float64
var_year_price_mid_peak_fix                      float64
var_year_price_off_peak                          float64
var_year_price_peak                              float64
var_year_price_mid_peak                          float64
var_6m_price_off_peak_var                        float64
var_6m_price_peak_var                            float64
var_6m_price_mid_peak_var                        float64
var_6m_price_off_peak_fix                        float64
var_6m_price_peak_fix                            float64
var_6m_price_mid_peak_fix                        float64
var_6m_price_off_peak                            float64
var_6m_price_peak                                float64
var_6m_price_mid_peak                            float64
is_churned                                         int64
dtype: object

In [7]:
print("\nMissing Values in Dataset:\n", df.isnull().sum().sort_values(ascending=False))

Missing Values in Dataset:
 client_id                                        0
sales_channel_code                               0
electricityconsumption_12m                       0
gas_consumption_12m                              0
electricityconsumption_last_month                0
contract_start_date                              0
contract_end_date                                0
last_product_modification_date                   0
next_renewal_date                                0
electricitypredicted_consumption_12m             0
electricitypredicted_consumption_calenderyear    0
predicted_value_current_discount                 0
predicted_meter_rental_12m                       0
predicted_energy_price_1stperiod                 0
predicted_energy_price_2ndperiod                 0
predicted_power_price_1stperiod                  0
clienthas_gas_connection                         0
billed_consumption                               0
gross_margin_powersubscription                   0
net_margin_powersubscription                     0
active_products_count                            0
total_net_margin                                 0
years_as_customer                                0
electricity_campaign_code_subscribed             0
subscribed_power                                 0
var_year_price_off_peak_var                      0
var_year_price_peak_var                          0
var_year_price_mid_peak_var                      0
var_year_price_off_peak_fix                      0
var_year_price_peak_fix                          0
var_year_price_mid_peak_fix                      0
var_year_price_off_peak                          0
var_year_price_peak                              0
var_year_price_mid_peak                          0
var_6m_price_off_peak_var                        0
var_6m_price_peak_var                            0
var_6m_price_mid_peak_var                        0
var_6m_price_off_peak_fix                        0
var_6m_price_peak_fix                            0
var_6m_price_mid_peak_fix                        0
var_6m_price_off_peak                            0
var_6m_price_peak                                0
var_6m_price_mid_peak                            0
is_churned                                       0
dtype: int64

In [8]:
print("\nChurn Value Counts:\n", df['is_churned'].value_counts())

Churn Value Counts:
 is_churned
0    13187
1     1419
Name: count, dtype: int64

In [9]:
cols_to_drop = [
    "predicted_value_current_discount",
    "predicted_meter_rental_12m",
    "predicted_energy_price_1stperiod",
    "predicted_energy_price_2ndperiod",
    "predicted_power_price_1stperiod",
]

df = df.drop(columns=cols_to_drop, errors="ignore")

In [10]:
df["sales_channel_code"].nunique()         # unique categories

8

In [11]:
col = "sales_channel_code"

# standardize then convert literal 'MISSING' to NA
canon = df[col].astype("string").str.strip()
df[col] = canon.mask(canon.str.upper() == "MISSING")  # becomes <NA> (pandas NA)

# sanity check
print("NaNs after conversion:", df[col].isna().sum())
print("Distinct non-null categories:", df[col].dropna().nunique())

NaNs after conversion: 3725
Distinct non-null categories: 7

In [12]:
# 1) Build mapping on the *current* DataFrame (non-null only)
col = "sales_channel_code"
codes = sorted(df[col].dropna().unique().tolist())           # alphabetical for determinism
mapping = {code: f"channel_{i+1}" for i, code in enumerate(codes)}

# 2) Apply (create a new clean column; NaNs stay NaN)
df["sales_channel_clean"] = df[col].map(mapping)

print("Mapping used:", mapping)
print(df["sales_channel_clean"].value_counts(dropna=False))

Mapping used: {'epumfxlbckeskwekxbiuasklxalciiuu': 'channel_1', 'ewpakwlliwisiwduibdlfmalxowmwpci': 'channel_2', 'fixdbufsefwooaasfcxdxadsiekoceaa': 'channel_3', 'foosdfpfkusacimwkcsosbicdxkicaua': 'channel_4', 'lmkebamcaaclubfxadlmueccxoimlema': 'channel_5', 'sddiedcslfslkckwlfkdpoeeailfpeds': 'channel_6', 'usilxuppasemubllopkaafesmlibmsdf': 'channel_7'}
sales_channel_clean
channel_4    6754
NaN          3725
channel_5    1843
channel_7    1375
channel_2     893
channel_6      11
channel_1       3
channel_3       2
Name: count, dtype: int64

In [13]:
# Choose a frequency threshold (tune as you like)
MIN_COUNT = 50

col = "sales_channel_clean"   # this is your mapped column (NaNs kept as NaN)
vc = df[col].value_counts()
keep = set(vc[vc >= MIN_COUNT].index)

df["sales_channel_grouped"] = df[col].where(df[col].isin(keep), other="other")

print(df["sales_channel_grouped"].value_counts(dropna=False))

sales_channel_grouped
channel_4    6754
other        3741
channel_5    1843
channel_7    1375
channel_2     893
Name: count, dtype: int64

In [14]:
cols_to_drop = ["sales_channel_clean", "client_id", "sales_channel_code"]
df = df.drop(columns=cols_to_drop, errors="ignore")

In [15]:
col = "clienthas_gas_connection"

df[col] = (
    df[col]
      .astype("string").str.strip().str.lower()
      .map({"t": 1, "f": 0})
      .astype("Int8")   # nullable integer: keeps NaN if something didn't match
)

In [16]:
df = df.rename(columns={"sales_channel_grouped": "sales_channel_code"})

In [17]:
cols_to_drop = ["electricitypredicted_consumption_calenderyear", "electricitypredicted_consumption_12m"]
df = df.drop(columns=cols_to_drop, errors="ignore")

In [18]:
# Convert the renamed date columns to datetime objects
date_cols = ['contract_start_date', 'contract_end_date', 'last_product_modification_date', 'next_renewal_date']
for col in date_cols:
    df[col] = pd.to_datetime(df[col], errors='coerce', format='%Y-%m-%d')

# Get the latest date in the dataset to use as a reference date
reference_date = df[date_cols].max().max()

# Calculate new features from the renamed date columns
df['tenure_days'] = (df['contract_end_date'] - df['contract_start_date']).dt.days
df['days_since_last_mod'] = (reference_date - df['last_product_modification_date']).dt.days
df['renewal_to_end_duration_days'] = (df['contract_end_date'] - df['next_renewal_date']).dt.days

In [19]:
cols_to_drop = [
    "contract_start_date",
    "contract_end_date",
    "last_product_modification_date",
    "next_renewal_date"
]

df = df.drop(columns=cols_to_drop, errors="ignore")

print("Remaining columns:", df.columns.tolist())

Remaining columns: ['electricityconsumption_12m', 'gas_consumption_12m', 'electricityconsumption_last_month', 'clienthas_gas_connection', 'billed_consumption', 'gross_margin_powersubscription', 'net_margin_powersubscription', 'active_products_count', 'total_net_margin', 'years_as_customer', 'electricity_campaign_code_subscribed', 'subscribed_power', 'var_year_price_off_peak_var', 'var_year_price_peak_var', 'var_year_price_mid_peak_var', 'var_year_price_off_peak_fix', 'var_year_price_peak_fix', 'var_year_price_mid_peak_fix', 'var_year_price_off_peak', 'var_year_price_peak', 'var_year_price_mid_peak', 'var_6m_price_off_peak_var', 'var_6m_price_peak_var', 'var_6m_price_mid_peak_var', 'var_6m_price_off_peak_fix', 'var_6m_price_peak_fix', 'var_6m_price_mid_peak_fix', 'var_6m_price_off_peak', 'var_6m_price_peak', 'var_6m_price_mid_peak', 'is_churned', 'sales_channel_code', 'tenure_days', 'days_since_last_mod', 'renewal_to_end_duration_days']

In [21]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df["sales_channel_code_encoded"] = le.fit_transform(df["sales_channel_code"].astype(str))

print("Classes:", le.classes_)

Classes: ['channel_2' 'channel_4' 'channel_5' 'channel_7' 'other']

In [ ]:
df.head()

In [23]:
df = df.drop(columns=["sales_channel_code"], errors="ignore")